.body_container *{

    margin:0px;

}

.Day_Headers{

    display:flex;

    justify-content: center;

    width: 45vw;



}


.Day_Headers > *{

    text-align: center;

    flex:1;


}

@media(max-width: 760px){

    .Day_Headers{

        width: 65vw;

    }   
    

}

.Greyed_Out{

    border: 2px solid black;

    cursor: pointer;

}

.Greyed_Out > p{

    background-color: #5E5E5E;
    padding: 1vw;


}



.Day{

    border: 2px solid black;

    cursor: pointer;


}

.Day > p{

    background-color: red;
    padding: 1vw;


}

.Day.selected{

    border: 2px solid black;
    cursor: pointer;


}

.Day.selected > p{

    background-color: black;
    padding: 1vw;

    color:  red;

}

.Calendar_Container{

    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 20vw;
    margin-right: 20vw;
    
    background-color: #878787;

}

@media(max-width: 760px){

    .Calendar_Container{

        margin-left: 2vw;
        margin-right: 2vw;

    }

}   

.Bottom_Margin{

    height:7vh;

}

.nav_container{

    display: flex;
    margin-top: 2vh;

    justify-content: center;

    /*width: 42vw;*/

}

.date_container{

    display:flex;
    width:8vw;
    justify-content: center;

}

.nav_container > *{


    margin: 1px;

}

@media(max-width:760px){

    .nav_container > *{


    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;

}

}


.Calendar_Grid{

    display: grid;
    grid-template-columns: repeat(7, 1fr);

    column-gap: 3.1vw;
    row-gap: 1vw;

    

}

.Container_Container{

    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.Events_Container{

    /*display:flex;*/
    justify-content: center;
    width: 48vw;
    
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    

    /*border: solid;
    border-color: black;*/

}

.Event{

    position:relative;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: #878787;

    /*margin-right: 2vw;*/

}

.Remove_Event{

    position:absolute;
    right:0;
    bottom:0;
    cursor: pointer;

}



.Add_more_container{

    display:flex;
    width: 42vw;

}

.Add_More_Button{

    margin-left:auto;
    background-color: green;
    padding: 1vh;
    cursor: pointer;

    text-decoration: none;   
    color: inherit;          

    margin-top: 2vh;

}

.Add_More_Button:hover{

    text-decoration: none;   
    color: inherit;   

}

