.Header{

    display: flex;
    justify-content: center;
    background-color: red;
    align-items: center;
    margin-bottom:2vh;


}

.Header_Container{

    display:flex;
    flex-direction: column;

}

.Day_Headers{

    margin-bottom:1vh;

}

.Header_Title{

    display:flex;
    align-items: center;
    margin:auto;

}

.Header_Login{

    color:white;
    margin:auto;

}